.login {
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(76,166,190,1) 50%, rgba(0,212,255,1) 100%);
}

.login form {
    border: 3px solid #fff;
    padding: 50px 20px;
    border-radius: 15px;
}

.login form h2 {
    text-align: center;
    color: #fff;
}

@media only screen and (max-width: 572px) {
    .login form {
        border: none;
        padding: 50px 20px;
        border-radius: none;
    }
}