.login {
    width: 100vw;
    height: 100vh;
}

.login form {
    border: 3px solid #fff;
    padding: 50px 20px;
    border-radius: 15px;
}

.login form h2 {
    text-align: center;
}

@media only screen and (max-width: 572px) {
    .login form {
        border: none;
        padding: 50px 20px;
        border-radius: none;
    }
}